.label {
    display: flex;
    flex-direction: column;
    max-width: 750px;
    justify-content: space-between;
    align-items: flex-start;

}

.input-field {
    border: solid 1px var(--color-primary-blue);
    background-color: var(--color-black-inputfield-background);
    color: var(--color-black);
    font-family: var(--font-body);
    padding: 1rem;
    font-size: 1rem;
    border-radius: 6px;
    min-width: 400px;
    width: 100%;
}

.input-field::placeholder {
    color: var(--color-black-placholder);
    font-family: var(--font-body);
}