.label {
    display: flex;
    flex-direction: column;
    max-width: 750px;
    justify-content: space-between;
    align-items: center;

}

.input-field {
    border: solid 5px var(--color-primary-blue);
    color: var(--color-black);
    padding: 1rem;
    font-size: 1rem;
    border-radius: 6px;
    min-width: 400px;
}