.form-section{
    display: flex;
    width: 850px;
}


.form-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 850px;
    background-color: var(--color-primary-background);
    border: solid 1px var(--color-primary-blue);
}

.form {
    display: flex;
    flex-direction: column;

}