/* ------------------------------- 1. Global Styles -------------------------------- */

/* ------------------------------- fonts -------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* ------------------------------- properties -------------------------------- */
:root {
    /*colors*/

    --color-primary-background: hsla(30, 43%, 97%, 1);
    --color-primary-blue: hsla(194, 75%, 39%, 1);
    --color-primary-blue-before-hover: hsla(194, 75%, 39%, 0.75);
    --color-beforehover-grey: hsla(196, 8%, 28%, 1);
    --color-primary-delete: hsla(352, 68%, 55%, 1);
    --color-black-inputfield-background: hsla(0, 0%, 95%, 1);
    --color-black-placholder: hsla(0, 0%, 50%, 1);
    --color-black: hsl(0, 0%, 16%);
    --color-white: hsl(0, 0%, 100%);

    --font-body: 'Poppins', sans-serif;
    --font-header: 'Poppins', sans-serif;
}

body {
    font-family: var(--font-body);
}

h1, h2, h3, h4, h5 {
    font-family: var(--font-header);
    font-style: normal;
}

h1 {
    font-size: 2.5rem;
    color: var(--color-primary-blue);
    font-style: normal;
    font-weight: 500;
}

h2 {
    font-size: 1.5rem;
    text-align: center;
    color: var(--color-primary-background);
    font-style: normal;
    font-weight: 400;
}
h3 {
    font-size: 1.5rem;
    text-align: center;
    color: var(--color-black);
    font-style: normal;
    font-weight: 400;
}


h4 {
    font-size: 1.25rem;
    color: var(--color-black);
    font-weight: 400;
}

h5 {
    font-size: 1.25rem;
    font-weight: 300;
}

p {
    font-size: 1rem;
    font-weight: 300;
}

ul {
    list-style: none;
}

main {
    height: 80vh;
}

.outer-container {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.inner-container {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    flex: 0 1 1200px; /*1200px gepakt volgens deze website https://van-ons.nl/blog/visueel-ontwerp/specificaties-van-een-goed-webdesign/*/
    padding: 1rem;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--color-primary-blue);
}
.inner-container::-webkit-scrollbar-thumb {
    background-color: var(--color-primary-blue);
    border-radius: 5px; /* Optioneel: voeg afgeronde hoeken toe aan de thumb */

}

.inner-container::-webkit-scrollbar-track {
    background-color: var(--color-primary-blue);
}

.flex-row {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}


